<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Blog{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/material-kit.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

</head>
<body class="content-page">

<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Jean Forteroche</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('contact_form') }}">Contact</a>
                </li>
                <li>
                    <a href="{{ path('table_contents') }}">Table des matières</a>
                </li>
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin') }}">Admin</a></li>
                            {% endif %}
                            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('login') }}">Connexion</a>
                    </li>
                    <li>
                        <a href="{{ path('register') }}">Inscription</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="header header-filter" style="background-image: url('{{ asset('img/auteur-ecrivain.jpg') }}');"></div>

    <div class="main main-raised">

        <div class="container">

            <div class="mb-20"></div>

            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>Bravo :</b> {{ message }}
                    </div>
                </div>
            {% endfor %}

            {% block body %}{% endblock %}

            <div class="mb-25"></div>

        </div>

    </div>

</div>

<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="{{ path('contact_form') }}">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">&copy; Brechoire Jérôme</div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/material.min.js') }}"></script>
<script src="{{ asset('js/material-kit.js') }}"></script>
<script src="{{ asset('js/nouislider.min.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
