{% extends 'base.html.twig' %}

{% block body %}

    <h1>Page de contact</h1>
    <div class="col-md-6 col-md-offset-3">

        <div class="mb-25"></div>

        {{ form_start(contact) }}

        {{ form_label(contact.name, 'Nom *')  }}
        {{ form_widget(contact.name, { 'attr': {'class': 'form-control'} })  }}
        {% if not contact.name.vars.valid %}
            {% for error in contact.name.vars.errors %}
                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
            {% endfor %}
        {% endif %}

        {{ form_label(contact.email, 'Email *')  }}
        {{ form_widget(contact.email, { 'attr': {'class': 'form-control'} })  }}
        {% if not contact.email.vars.valid %}
            {% for error in contact.email.vars.errors %}
                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
            {% endfor %}
        {% endif %}

        {{ form_label(contact.phone, 'Telephone')  }}
        {{ form_widget(contact.phone, { 'attr': {'class': 'form-control'} })  }}
        {% if not contact.phone.vars.valid %}
            {% for error in contact.phone.vars.errors %}
                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
            {% endfor %}
        {% endif %}

        {{ form_label(contact.subject, 'Sujet *')  }}
        {{ form_widget(contact.subject, { 'attr': {'class': 'form-control'} })  }}
        {% if not contact.subject.vars.valid %}
            {% for error in contact.subject.vars.errors %}
                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
            {% endfor %}
        {% endif %}

        {{ form_label(contact.content, 'Message *')  }}
        {{ form_widget(contact.content, { 'attr': {'class': 'form-control'} })  }}
        {% if not contact.content.vars.valid %}
            {% for error in contact.content.vars.errors %}
                <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
            {% endfor %}
        {% endif %}

        <input class="submit btn btn-theme" name="submit" type="submit" value="Envoyer">
        {{ form_end(contact) }}

        <div class="mb-25"></div>

    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

