{% extends 'base.html.twig' %}

{% block body %}

    <h1>Billet simple pour l'Alaska</h1>

{% if countBillet != 0 %}
    <ul class="pagination">
       {% for p in range(1, nbPages) %}
            <li {% if p == page %} class="active"{% endif %}>
                <a href="{{ path('homepage', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

    <div class="card card-plain card-blog">
        <div class="row">
            <div class="col-md-12">
                {% if countBillet != 0 %}
                    {% for billet in listBillets %}

                        {% if billet.publish == 1 %}

                            <h3 class="card-title">
                                <a href="{{ path('show_billet_front', {'id': billet.id}) }}">{{ billet.title }}</a>
                            </h3>
                            <p class="author">
                                par <a href="#"><b>{{ billet.user.username }}</b></a>, le {{ billet.dateCreated|date('d/m/Y') }}
                            </p>
                            {% autoescape false %}
                                <p class="card-description">
                                    {{ billet.content|truncate(1000) }} <a href="{{ path('show_billet_front', {'id': billet.id}) }}"> Voir le billet </a>
                                </p>
                            {% endautoescape %}

                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <div class="container-fluid">
                                <div class="alert-icon">
                                    <i class="material-icons">warning</i>
                                </div>
                                <b>Attention :</b> Aucun billet n'a encore été publié
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if countBillet != 0 %}
        <ul class="pagination">
            {% for p in range(1, nbPages) %}
                <li {% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('homepage', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
