{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        {% if not replyComment.comment.vars.valid %} {% for error in replyComment.comment.vars.errors %} <div class="alert alert-danger margin-top-10">{{ error.message }}</div> {% endfor %} {% endif %}
        <h2 class="card-title">
            <a href="#">{{ showBillet.title }}</a>
        </h2>
        <p class="author">
            par <a href="#"><b>{{ showBillet.user.username }}</b></a>, le {{ showBillet.dateCreated|date('d/m/Y') }} | Commentaire(s) : {{ countComments }}
        </p>
        {% autoescape false %}
            <p class="card-description">
                {{ showBillet.content }}
            </p>
        {% endautoescape %}

        <div class="mb-25"></div>

        <h4>Ajouter un commentaire</h4>

        {% if app.user %}

            {{ form_start(form) }}

            {{ form_widget(form.comment, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Votre commentaire'} }) }}
            {% if not form.comment.vars.valid %}
                {% for error in form.comment.vars.errors %}
                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary">Enregister</button>

            {{ form_end(form) }}

        {% else %}
            Pour ajouter un commentaire vous devez être connecté. <a href="{{ path('login') }}">Connectez vous</a>
        {% endif %}

        <div class="mb-25"></div>

        <h3>Les commentaires</h3>

        {% if countComments != 0 %}
            <ul class="pagination">
                {% for p in range(1, nbPages) %}
                    <li {% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('show_billet_front', {'id': showBillet.id, 'page': p }) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="material-icons">warning</i>
                        </div>
                        Aucun commentaire n'a encore été publié
                    </div>
                </div>
            </div>
        {% endif %}

        {% for comment in listComments %}
            <div class="media-area">

                <div class="media">

                    <div class="media-body comment-{{ comment.id }}">
                        <h4 class="media-heading">{{ comment.user.username }}</h4>
                        <p class="text-muted pull-right">{{ comment.date|date('d/m/Y') }} à {{ comment.date|date('H:i') }}</p>
                        {{ comment.comment }}

                        <div class="media-footer ">
                            {% if app.user %}
                                {% if app.user.id == comment.user.id %}
                                    <a href="{{ path('delete_comment_user_all', {'id': comment.id}) }}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="bottom" title="Supprimer" OnClick="return confirm('Voulez-vous vraiment supprimer ? Cette action est irréversible !');">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-grey btn-xs reply-button" id="{{ comment.id }}" data-toggle="tooltip" data-placement="bottom" title="Répondre">
                                        <i class="fa fa-reply"></i>
                                    </a>

                                    {% if comment.warn == 0 %}
                                        <a href="{{ path('warn', {'id': comment.id}) }}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="bottom" title="Avertir">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </a>
                                    {% else %}
                                        <button class="btn btn-grey btn-xs not-active" data-toggle="tooltip" data-placement="bottom" title="Commentaire signalé">
                                            <i class="fa fa-exclamation-triangle"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        </div>

                    </div>
                </div>

                <div class="mb-25"></div>

                {#Réponse à un commentaire début#}

                {% for showReply in showReplyComment %}

                    {% if showReply.parent == comment.id %}
                        <div class="media reply">
                            <div class="media-body">
                                <h4 class="media-heading">{{ showReply.user.username }}</h4>
                                <p class="text-muted pull-right">{{ showReply.date|date('d/m/Y') }} à {{ comment.date|date('H:i') }}</p>
                                {{ showReply.comment }}

                                <div class="media-footer ">
                                    {% if app.user %}
                                        {% if app.user.id == showReply.user.id %}
                                            <a href="{{ path('delete_comment_user', {'id': showReply.id}) }}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="bottom" title="Supprimer" OnClick="return confirm('Voulez-vous vraiment supprimer ? Cette action est irréversible !');">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% else %}
                                            {% if showReply.warn == 0 %}
                                                <a href="{{ path('warn', {'id': showReply.id}) }}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="bottom" title="Avertir">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                </a>
                                            {% else %}
                                                <button class="btn btn-grey btn-xs not-active" data-toggle="tooltip" data-placement="bottom" title="Commentaire signalé">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                </div>

                            </div>
                        </div>
                    {% endif %}

                    <div class="mb-25"></div>

                {% endfor %}

                {#Réponse à un commentaire fin#}

            </div>
        {% endfor %}
    </div>


{% endblock %}


{% block javascripts %}
    <script>
        $('[data-toggle="tooltip"]').tooltip();

        $( document ).ready(function() {

            var closeReply = '<button class="btn btn-grey close-reply">Annuler</button>';

            $('.reply-button').on('click', function() {
                var idComment = $(this).attr('id');
                var parentIdComment = '{{ form_widget(replyComment.parent, {'value': 'idCom'}) }}';
                parentIdComment = parentIdComment.replace("idCom", parseInt(idComment));

                if ($('#formReply').length != 1){
                    $('.comment-' + idComment).append('<div id="formReply"> {{ form_start(replyComment) }}{{ form_widget(replyComment.comment, { 'attr': {'class': 'form-control input-lg'} }) }} {% if not replyComment.comment.vars.valid %} {% for error in replyComment.comment.vars.errors %} <div class="alert alert-danger margin-top-10">{{ error.message }}</div> {% endfor %} {% endif %}  ' + parentIdComment + '<button type="submit" class="btn btn-grey">Répondre</button> ' + closeReply + '{{ form_end(replyComment) }}</div>');
                }

                $('.reply-button').hide();

                $('.close-reply').one('click', function() {
                    $('.reply-button').show();
                    $('#formReply').remove();
                });
            });

        });
    </script>
{% endblock %}

