{% extends 'base.html.twig' %}

{% block body %}

    <h1>Table des matières</h1>

    <div class="col-md-12">

        <div class="mb-25"></div>
        {% if countBillet != 0 %}
            {% set number = 0 %}

            {% for billet in billets %}

                {% set number = number + 1 %}
                <h5>{{ number }} - <a href="{{ path('show_billet_front', {'id': billet.id}) }}">{{ billet.title }}</a></h5>

            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="material-icons">warning</i>
                        </div>
                        <b>Attention :</b> Aucun billet n'a encore été publié
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="mb-25"></div>

    </div>

{% endblock %}

