{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Ajout d'un billet</h1>

            {{ form_start(form, {'action': path('addBillet')}) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, { 'attr': {'class': 'form-control input-lg'} }) }}
                {% if not form.title.vars.valid %}
                    {% for error in form.title.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, { 'attr': {'class': 'form-control input-lg addBillet'} }) }}
                {% if not form.content.vars.valid %}
                    {% for error in form.content.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="checkbox">
                <label>
                    {{ form_widget(form.publish) }}
                    {{ form_label(form.publish) }}

                </label>
            </div>

            <button type="submit" class="btn btn-primary">Enregister</button>

            {{ form_end(form) }}

        </div>

    </div>

    <div class="mb-25"></div>

{% endblock %}

{% block javascripts %}
    <script>
        CKEDITOR.replace( 'app_bundle_billet_form_type[content]' );
    </script>
{% endblock %}

