<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('admin/img/apple-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('admin/img/favicon.png') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% block title %}Administration{% endblock %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    {% block stylesheets %}
        <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/css/material-dashboard.css') }}" rel="stylesheet"/>
        <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>

<body>

<div class="wrapper">

    <div class="sidebar" data-color="purple" data-background-color="white">

        <div class="logo">
            <a href="{{ path('admin') }}" class="simple-text">
                Menu
            </a>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="material-icons">home</i>
                        <p>Accueil</p>
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#utilisateurs" class="" aria-expanded="true">
                        <i class="material-icons">person</i>
                        <p>Utilisateurs
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="utilisateurs" aria-expanded="true">
                        <ul class="nav">
                            <li>
                                <a href="{{ path('listUsers') }}">Liste des membres</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#billet" class="" aria-expanded="true">
                        <i class="material-icons">edit</i>
                        <p>Billet
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="billet" aria-expanded="true">
                        <ul class="nav">
                            <li>
                                <a href="{{ path('addBillet') }}">Ajouter un billet</a>
                            </li>
                            <li>
                                <a href="{{ path('listBillet') }}">Liste des billets</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#comment" class="" aria-expanded="true">
                        <i class="material-icons">comment</i>
                        <p>Commentaires
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="comment" aria-expanded="true">
                        <ul class="nav">
                            <li>
                                <a href="{{ path('listComments') }}">Liste des commentaires</a>
                            </li>
                            <li>
                                <a href="{{ path('warnList') }}">Signalement</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">

            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Administration</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('homepage') }}">Accueil du site</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('logout') }}">Déconnexion</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        {% endif %}
                    </ul>

                    
                </div>
            </div>

        </nav>


        <div class="content">
            <div class="container-fluid">

                {% for message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <div class="container-fluid">
                            <div class="alert-icon">
                                <i class="material-icons">check</i>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="material-icons">clear</i></span>
                            </button>
                            <b>Bravo :</b> {{ message }}
                        </div>
                    </div>
                {% endfor %}

                {% block body %}{% endblock %}
            </div>
        </div>

    </div>

</div>


<script src="{{ asset('admin/js/jquery-3.1.0.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('admin/js/material.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{{ asset('admin/js/material-dashboard.js') }}"></script>
<script src="{{ asset('admin/js/app.js') }}"></script>
<script src="{{ asset('admin/js/jquery.datatables.js') }}"></script>
{#<script src='//cloud.tinymce.com/stable/tinymce.min.js'></script>#}
<script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<script src='{{ asset('admin/js/langs/fr_FR.js') }}'></script>

{% block javascripts %}{% endblock %}

</body>
</html>
