{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <a href="{{ path('listBillet') }}">Liste des billets</a>

            <h2>Modifier</h2>

            <a href="{{ path('show_billet', {'id': billet.id}) }}" class="btn btn-just-icon btn-warning" data-toggle="tooltip" data-placement="rigth" title="Voir le billet"><i class="material-icons">remove_red_eye</i></a>

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, { 'attr': {'class': 'form-control input-lg'} }) }}
                {% if not form.title.vars.valid %}
                    {% for error in form.title.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, { 'attr': {'class': 'form-control input-lg'} }) }}
                {% if not form.content.vars.valid %}
                    {% for error in form.content.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="checkbox">
                <label>
                    {{ form_widget(form.publish) }}

                    {{ form_label(form.publish) }}

                </label>
            </div>

            <button type="submit" class="btn btn-primary">Enregister</button>

            {{ form_end(form) }}

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('[data-toggle="tooltip"]').tooltip();

        CKEDITOR.replace( 'app_bundle_billet_form_type[content]' );

    </script>
{% endblock %}

