{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">person</i>
                </div>
                <div class="card-content">
                    <h3 class="title">{{ countUser }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{ path('listUsers') }}">Voir les membres</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">comment</i>
                </div>
                <div class="card-content">
                    <h3 class="title">{{ countComments }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{ path('listComments') }}">Voir les commentaires</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">warning</i>
                </div>
                <div class="card-content">
                    <h3 class="title">{{ countWarn }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{ path('warnList') }}">Signalement</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="fa fa-edit"></i>
                </div>
                <div class="card-content">
                    <h3 class="title">{{ countBillet }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{ path('listBillet') }}">Billet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">3 Derniers membres</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <tr><th>ID</th>
                            <th>Pseudo</th>
                            <th>Nom</th>
                            <th>Date</th>
                        </tr></thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.dateCreate|date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">3 Derniers Billets</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <tr><th>ID</th>
                            <th>Titre</th>
                            <th>Date</th>
                        </tr></thead>
                        <tbody>
                        {% for billet in billets %}
                            <tr>
                                <td>{{ billet.id }}</td>
                                <td>{{ billet.title|truncate(30) }}</td>
                                <td>{{ billet.dateCreated|date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">3 Derniers Commentaires</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <tr><th>ID</th>
                            <th>Commentaire</th>
                            <th>Date</th>

                        </tr></thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.comment|truncate(30) }}</td>
                                <td>{{ comment.date|date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">3 Derniers Signalements</h4>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <tr><th>ID</th>
                            <th>Titre</th>
                            <th>Date</th>
                        </tr></thead>
                        <tbody>
                        {% for warn in warns %}
                            <tr>
                                <td>{{ warn.id }}</td>
                                <td>{{ warn.comment|truncate(30) }}</td>
                                <td>{{ warn.date|date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}