{% extends 'admin/base.html.twig' %}

{% block body %}

    <h1>Liste des billets</h1>
    <div class="row">
        <div class="col-md-12">

            <p class="text-danger">Attention la suppression d'un billet est irréversible !</p>

            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">edit</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Les billets</h4>
                    <div class="toolbar">
                    </div>
                    <div class="material-datatables">
                        <div id="datatables_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" cellspacing="0" width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"  rowspan="1" colspan="1" style="width: 174px;" aria-sort="ascending" aria-label="ID: activate to sort column descending">ID</th>
                                            <th class="sorting" aria-label="Titre: activate to sort column ascending">Titre</th>
                                            <th class="sorting" aria-label="Date: activate to sort column ascending">Date</th>
                                            <th class="sorting" aria-label="Publié: activate to sort column ascending">Publié</th>
                                            <th class="disabled-sorting text-right sorting" tabindex="0"  rowspan="1" colspan="1" style="width: 124px;" aria-label="Actions: activate to sort column ascending">Actions</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">ID</th>
                                            <th rowspan="1" colspan="1">Titre</th>
                                            <th rowspan="1" colspan="1">Date</th>
                                            <th rowspan="1" colspan="1">Publié</th>
                                            <th class="text-right" rowspan="1" colspan="1">Actions</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>

                                        {% for list in listBillet %}
                                            <tr role="row">
                                                <td tabindex="0" class="sorting_1">{{ list.id }}</td>
                                                <td>{{ list.title }}</td>
                                                <td>{{ list.dateCreated|date('d/m/Y') }}</td>
                                                <td>
                                                    {% if list.publish == 1 %}
                                                        <i class="material-icons btn-success">check</i>
                                                    {% else %}
                                                        <i class="material-icons btn-danger">check</i>
                                                    {% endif %}
                                                </td>
                                                <td class="text-right">
                                                    <a href="{{ path('edit_billet', {'id': list.id}) }}" class="btn btn-simple btn-info btn-icon" data-toggle="tooltip" data-placement="top" title="Editer le billet"><i class="material-icons">edit</i></a>
                                                    <a href="{{ path('show_billet', {'id': list.id}) }}" class="btn btn-simple btn-warning btn-icon" data-toggle="tooltip" data-placement="top" title="Voir le billet"><i class="material-icons">remove_red_eye</i></a>
                                                    <a href="{{ path('delete_billet', {'id': list.id}) }}" class="btn btn-simple btn-danger btn-icon" data-toggle="tooltip" data-placement="top" title="Supprimer le billet" OnClick="return confirm('Voulez-vous vraiment supprimer ? Cette action est irréversible !');"><i class="material-icons">close</i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
        </div>
        <!-- end col-md-12 -->
    </div>

{% endblock %}

    {% block javascripts %}
        <script>

            $('[data-toggle="tooltip"]').tooltip();

            $(document).ready(function() {
                $('#datatables').DataTable({
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    }

                });


                var table = $('#datatables').DataTable();

                // Edit record
                table.on('click', '.edit', function() {
                    $tr = $(this).closest('tr');

                    var data = table.row($tr).data();
                    alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
                });

                // Delete a record
                table.on('click', '.remove', function(e) {
                    $tr = $(this).closest('tr');
                    table.row($tr).remove().draw();
                    e.preventDefault();
                });

                //Like record
                table.on('click', '.like', function() {
                    alert('You clicked on Like button');
                });

                $('.card .material-datatables label').addClass('form-group');
            });
        </script>
    {% endblock %}


