{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Profil utilisateur</h4>
                </div>
                <div class="card-content">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">{{ showUser.username }}</label>
                                <input type="text" class="form-control" disabled="">
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">{{ showUser.email }}</label>
                                <input type="email" class="form-control" disabled="">
                                <span class="material-input"></span></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">{{ showUser.firstName }}</label>
                                <input type="text" class="form-control" disabled="">
                                <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">{{ showUser.lastName }}</label>
                                <input type="text" class="form-control" disabled="">
                                <span class="material-input"></span></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="">
                        <img class="img" src="{{ asset('img/default-avatar.png') }}" alt="Avatar {{ showUser.username }}">
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">
                        {% for role in showUser.roles %}
                            {{ role }}
                        {% endfor %}
                    </h6>
                    <h4 class="card-title">{{ showUser.firstName }} {{ showUser.lastName }}</h4>

                    {% if showUser.id == 1 %}
                        <a href="#" class="btn btn-grey btn-round not-active">Supprimer l'utilisateur</a>

                    {% else %}
                    <a href="{{ path('delete_user', {'id': showUser.id}) }}" class="btn btn-danger btn-round" OnClick="return confirm('Voulez-vous vraiment supprimer ? Cette action est irréversible !');">Supprimer l'utilisateur</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

