{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="row">
    <p><a href="{{ path('listBillet') }}">Liste des billets</a></p>
    <a href="{{ path('edit_billet', {'id': showBillet.id}) }}" class="btn btn-info">Modifier le billet</a>
    <a href="{{ path('delete_billet', {'id': showBillet.id}) }}" class="btn btn-danger" OnClick="return confirm('Voulez-vous vraiment supprimer ? Cette action est irréversible !');">Supprimer le billet</a>
    {% if showBillet.publish == 1 %}
        <a href="{{ path('show_billet_front', {'id': showBillet.id}) }}" class="btn btn-warning" target="_blank">Voir le billet sur le site</a>
    {% endif %}

    <ul class="info-billet">
        <li>
            {% if showBillet.publish == 1 %}
                <p class="text-success">Publié</p>
            {% else %}
                <p class="text-danger">Non plublié</p>
            {% endif %}
        </li>
        <li>{{ showBillet.dateCreated|date('d/m/Y') }}</li>
    </ul>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">{{ showBillet.title }}</h4>
            </div>
            <div class="card-content">

                {% autoescape false %}
                    {{ showBillet.content }}
                {% endautoescape %}


            </div>
        </div>

    </div>
    {% endblock %}

    {% block javascripts %}

    {% endblock %}

