{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-6 col-md-offset-3">
        <form action="{{ path('login') }}" method="post">

            {% if error %}

                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>

            {% endif %}

            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="username" name="_username" value="{{ _username }}" class="form-control input-lg"/>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" id="password" name="_password" class="form-control input-lg" />
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

            <div class="form-actions">

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me">
                            Se souvenir de moi ?
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <p class="text-center">
                        Vous n'avez pas encore de compte? <a href="{{ path("register") }}">Inscrivez vous</a>
                    </p>
                </div>

                <button type="submit" name="connexion" class="btn btn-primary">Connexion</button>
            </div>

        </form>
    </div>

{% endblock %}

