{% extends 'base.html.twig' %}

{% block body %}
<h2>Inscription</h2>
    <div class="col-md-6 col-md-offset-3">
        {{ form_start(form) }}

        <div class="form-body">

            <div class="form-group">
                {{ form_label(form.username, 'Nom d\'utilisateur') }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>

                {% if not form.username.vars.valid %}
                    {% for error in form.username.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="form-group">
                {{ form_label(form.email, 'Adresse email') }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>

                {% if not form.email.vars.valid %}
                    {% for error in form.email.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="form-group">
                {{ form_label(form.firstName, 'Prénom') }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{ form_widget(form.firstName, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>

                {% if not form.firstName.vars.valid %}
                    {% for error in form.firstName.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="form-group">
                {{ form_label(form.lastName, 'Nom') }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    {{ form_widget(form.lastName, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>

                {% if not form.lastName.vars.valid %}
                    {% for error in form.lastName.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="form-group">
                {{ form_label(form.password.first, 'Mot de passe') }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form_widget(form.password.first, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>

                {% if not form.password.first.vars.valid %}
                    {% for error in form.password.first.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="form-group">
                {{ form_label(form.password.second, 'Repeter le mot de passe') }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form_widget(form.password.second, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>

                {% if not form.password.second.vars.valid %}
                    {% for error in form.password.second.vars.errors %}
                        <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                    {% endfor %}
                {% endif %}

            </div>

        </div>
        <div class="form-actions">
            <button type="submit" name="inscription" class="btn btn-primary">Inscription</button>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}